.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 479px;
  min-height: 522px;
  background-image: none;
  margin: 139px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 41px auto 0 22px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px 22px 0 auto;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 33px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: -46px auto 0 76px;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 51px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: -45px auto 0 86px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 30px 66px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 75px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}