.u-section-1 .u-sheet-1 {
  min-height: 782px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 138px;
  height: 138px;
  margin: 110px 477px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 138px;
  height: 138px;
  margin: -134px auto 0 241px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 0 764px 0 244px;
}

.u-section-1 .u-icon-3 {
  width: 138px;
  height: 138px;
  margin: -160px 218px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 234px 0 800px;
}

.u-section-1 .u-text-4 {
  margin: -21px 520px 0 554px;
}

.u-section-1 .u-form-1 {
  height: 240px;
  margin: 1px 171px 0 737px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -60px 225px 0 auto;
  padding: 13px 30px 14px;
}

.u-section-1 .u-form-2 {
  height: 240px;
  margin: -229px 437px 0 471px;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -60px 491px 0 auto;
  padding: 13px 30px 14px;
}

.u-section-1 .u-form-3 {
  height: 240px;
  background-image: none;
  margin: -229px 703px 0 204px;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -60px auto 60px 255px;
  padding: 13px 30px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: 700;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 78px;
    margin-right: 393px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -139px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -145px;
    margin-right: 664px;
    margin-left: 144px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -67px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -13px;
    margin-right: 134px;
    margin-left: 700px;
  }

  .u-section-1 .u-text-4 {
    width: 73px;
    margin-top: 35px;
    margin-right: 420px;
    margin-left: 454px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -113px;
    margin-right: 71px;
    margin-left: 637px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -59px;
    margin-right: 25px;
  }

  .u-section-1 .u-form-2 {
    margin-top: -313px;
    margin-right: 337px;
    margin-left: 371px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 180px;
    margin-right: 291px;
  }

  .u-section-1 .u-form-3 {
    margin-top: -357px;
    margin-right: 603px;
    margin-left: 104px;
  }

  .u-section-1 .u-btn-5 {
    width: 113px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-right: 301px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 185px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 554px;
    margin-left: 34px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 24px;
    margin-left: 590px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 310px;
    margin-left: 344px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 488px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-form-2 {
    margin-right: 227px;
    margin-left: 261px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 71px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 487px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-right: 226px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 139px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 408px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 164px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 434px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 220px;
    margin-left: 254px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 308px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 137px;
    margin-left: 171px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-form-3 {
    margin-right: 307px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-right: 142px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 88px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 208px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 103px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 234px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 120px;
    margin-left: 154px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 108px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 37px;
    margin-left: 71px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 107px;
  }
}